.modalBackground{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 166, 0, 0.541);
    position: fixed;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.modalContainer{
    width: 500px;
    height: 500px;
    border-radius: 12px;
    background-color: rgb(255, 217, 0);
    box-shadow: rgb(0, 0, 0, 0.35);
    /* display: flex;
    flex-direction: column; */
    padding: 25px;
}

/* .modalContainer .title{
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

.titleXButton{
    display: flex;
    justify-content: flex-end;
}

.titleXButton button{
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
} */

.modalContainer .body{
    flex: 50%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
}