@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
.Title {
  margin-left: 50px;
  padding: 10px;
  display: flex; 
  font-size: 60px;
  color: white;
  -webkit-text-stroke-width: 0.01px;
  -webkit-text-stroke-color: black;
  font-family: 'Bangers', cursive;
  }


